@using HRPotter.Helpers;
@model HRPotter.Models.JobOffer

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/jobOfferDetails.css" />

<div class="panel panel-default">
    <div class="row ml-0">
        <h1 class="col-sm-12">@Model.JobTitle</h1>
        <div class="col-sm-8">
            <div class="offer-description" id="previewMarkdown">
                @Model.Description
            </div>
        </div>
        <div class="col-sm-4">
            <div class="offer-details">
                <div>
                    <label>Company:</label>
                    <span>@Model.Company.Name</span>
                </div>
                <div>
                    <label>Location:</label>
                    <span>@Model.Location</span>
                </div>
                @if (Model.SalaryFrom.HasValue || Model.SalaryTo.HasValue)
                {
                    <div>
                        <label>Salary:</label>
                        <span>
                            @Html.DisplayFor(item => item.SalaryFrom)

                            @(Model.SalaryTo.HasValue && Model.SalaryFrom.HasValue ? "-" : "")

                            @Html.DisplayFor(item => item.SalaryTo) (PLN)
                        </span>
                    </div>
                }
                <div>
                    <label>Created:</label>
                    <span> @Html.DisplayFor(item => item.Created) </span>
                </div>
                @if (Model.ValidUntil.HasValue)
                {
                    <div>
                        <label>Valid:</label>
                        <span>@Model.ValidUntil.Value.Subtract(DateTime.Now).Days days (@Html.DisplayFor(item => item.ValidUntil))</span>
                    </div>
                }
                <div>
                    <div class="pt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-primary mx-2">
                            <i class="fas fa-edit pr-2"></i>
                            Edit
                        </a>

                        <button class="btn btn-danger mx-2"
                                data-toggle="modal"
                                data-target="#confirm-delete">
                            <i class="fas fa-trash-alt pr-2"></i>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @Html.ActionLink("Go back to job offers", "IndexHR", "JobOffers", null, new { @class = "btn btn-secondary" })
    </div>

    @if (Model.JobApplications.Any())
    {
        <table class="mt-5 ml-0 table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.JobApplications)
                {
                    <tr>
                        <td>
                            <a asp-controller="JobApplications" asp-action="DetailsHR" asp-route-id="@item.Id"> @item.FirstName @item.LastName </a>
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td class=@(item.Status == ApplicationStatus.Approved ? "text-success" : item.Status==ApplicationStatus.Rejected ? "text-danger" : "")>
                            @item.Status.GetDescription()
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Delete job offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="font-weight-bold mb-0">Are you sure you want to delete this?</p>
                <p class="text-danger mb-0"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-chevron-left pr-2"></i>
                    Cancel
                </button>
                @using (Html.BeginForm("Delete", "JobOffers", new { Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt pr-2"></i>
                        Delete
                    </button>
                }
            </div>
        </div>
    </div>
</div>
