@using HRPotter.Helpers;
@model IEnumerable<JobApplication>

@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.JobOffer != null)
            {
                <a asp-controller="JobOffers" asp-action="Details" asp-route-id="@item.JobOfferId">
                    @(item.JobOffer.JobTitle)
                </a>
            }
            else
            {
                <span>This offer is no longer valid</span>
            }
        </td>
        <td class=@(item.Status == ApplicationStatus.Approved ? "text-success" :
                            item.Status == ApplicationStatus.Rejected ? "text-danger" : "")>
            @item.Status.GetDescription()
        </td>
        <td>
            <a class="btn btn-primary btn-sm mr-2" asp-action="Edit" asp-route-id="@item.Id">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                <i class="fas fa-info pr-2"></i>
            </a>
        </td>
    </tr>
}