@model HRPotter.Models.JobApplication
@using HRPotter.Helpers;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application for  <a asp-controller="JobOffers" asp-action="Details" asp-route-id="@Model.JobOfferId"> @Model.JobOffer.JobTitle </a> </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.University)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudySubject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudySubject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudiesStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudiesStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudiesEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudiesEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsStudent)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.IsStudent.GetDescription())
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Model.Status.GetDescription()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
