@using HRPotter.Models;
@model IEnumerable<JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>List of your applications</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Job offer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudySubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="@item.JobOfferId" > Job title </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.StudySubject)
            </th>
            <td>
                @Html.Raw(item.IsStudent ? "&#x2714;" : "&#x2716;")
            </td>
            <td class=@(item.Status == ApplicationStatus.Approved ? "text-success" : item.Status==ApplicationStatus.Rejected ? "text-danger" : "")>
                @item.Status.GetDescription()
            </td>
            <td>
                @if (item.Status == ApplicationStatus.ToBeReviewed)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (item.Status == ApplicationStatus.ToBeReviewed)
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
